
.container {
    background: rgb(247, 249, 250);
    width: 100%;
}

.main {
    margin-top: 50px;
    width: 100%;
    padding: 40px;
    

}

textarea {
    width: 100%;
}

#myRange {
    width: 100%;
}





button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 16px;
  width: 150px;
}

